body{
	font-family: 'Lusitana', serif;
}
main-box{
	width: 700px;
	height: 800px;
	position: relative;
}
h1{
	font-size: 40px;
	position: relative;
	left: 480px;
	top: 20px;

}

.header{
	border-bottom: black 1px solid;
}

.name{
	display: block;
	font-size: 20px;
}
.forms{
	position: absolute;
	top: 30px;
	right: 100px;
}
.signup{
	border-right: 1px black solid;
	padding-right: 3px;
	display: inline-block;
	font-style: sans-serif;
	font-size: 15px;
}

.sign{
		display: inline-block;
	font-style: sans-serif;
	font-size: 15px;
}

.main-container{
	position: relative;
	margin: 20px auto;
	width: 500px;
	height: 800px;
	border-right: solid black 1px;
	border-left: solid black 1px;
}

h4{
	border-right: solid black 1px;
	padding-right: 3px;
	display: inline-block;
}