html 
	head
		title = 'Shitistics'
		block head
			script(src='')
	body 
		block content 
			h1 This Fucking Website 
			ul.loginForm
				li Sign up
				li Login
			.container
				.ranking
					
				

