
<html> 
  <head>
    <title>= 'Game of Thrones'</title>
    <link href='https://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
    <link href="../css/layout.css" rel="stylesheet"/>
  </head>
  <body> </body>
  <div class="main-box">
    <div class="header">
      <h1>Game of Thrones </h1>
      <ul class="forms">
        <li class="signup"><a href="/signup">Sign Up</a></li>
        <li class= "sign"><a href="/login">Login</a></li>
      </ul>
    </div>
    <div class="main-container">
      <ol>
        <li class="name"> 
          <h4> 20:35 </h4>
            <p> Goeffery Williams </p>
            <p> Biff Jarfield</p>
            <p> Henry Lu-Kaanan </p>
        </li>
        <li class="name"> 
          <h4> 17:28 </h4>
            <p> Charles Shukar </p>
            <p> Roderick Fromage </p>
            <p> Kendall Tomin </p>
        </li>
        <li class="name"> 
          <h4> 12:56 </h4>
            <p> Connor Barwin </p>
            <p> Sidney Moncreif </p>
            <p> Shin Lu-Fong </p>
        </li>               
        <li class="name"> 
          <h4> 07:23 </h4>
            <p> Kaye Tonnor </p>
            <p> Biff Jarfield </p>
            <p> Henry Lu-Kaanan </p>
        </li>
        <li class="name"> 
          <h4> 04:45 </h4>
            <p> Goeffery Williams </p>
            <p> Kelly Barr </p>
            <p> Henry Lu-Kaanan </p>
        </li>        
      </ol>
    </div>
  </div>
</html>