
<html> 
  <head>
    <title>= 'Game of Thrones'</title>
    <link href='https://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
    <link href="../css/layout.css" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <h1>Game of Thrones </h1>
      <ul class="forms">
        <li class="signup"><a href="/login">Sign Up</a></li>
        <li class= "sign"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <div class="main-container">
      <ol>
        <li class="name"> 
          <div class="session">
          <h4> 20m 35s </h4>
          <h5> 4 Hours Ago</h5>
          </div>
            <p> Geoffrey Williams </p>
            <p> Biff Jarfield</p>
            <p> Henry Lu-Kaanan </p>
        </li>
        <li class="name"> 
          <div class="session">
          <h4> 17m 28s </h4>
          <h5> 2 Hours Ago</h5>
          </div>
            <p> Charles Shukar </p>
            <p> Roderick Fromage </p>
            <p> Kendall Tomin </p>
        </li>
        <li class="name"> 
          <div class="session">
          <h4> 12m 56s </h4>
          <h5> 1 Day Ago</h5>
          </div>
            <p> Connor Barwin </p>
            <p> Sidney Moncreif </p>
            <p> Shin Lu-Fong </p>
        </li>               
        <li class="name"> 
          <div class="session">
          <h4> 07m 23s </h4>
          <h5> 30 Minutes Ago</h5>
          </div>
            <p> Kaye Tonnor </p>
            <p> Biff Jarfield </p>
            <p> Henry Lu-Kaanan </p>
        </li>
        <li class="name"> 
          <div class="session">
          <h4> 04m 45s </h4>
          <h5> 1 Week Ago</h5>
          </div>
            <p> Geoffrey Williams </p>
            <p> Kelly Barr </p>
            <p> Henry Lu-Kaanan </p>
        </li>        
      </ol>
    </div>
  </body>
</html>