
<html> 
  <head>
    <title>= 'Game of Thrones'</title>
    <script src=""></script>
    <link href="../css/layout.css" rel="stylesheet"/>
  </head>
  <body> </body>
  <div class="main-box">
    <div class="header">
      <h1>Game of Thrones </h1>
    </div>

    <div class="signup-container">
      <form action="/login" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" placeholder="Email address" class="input-block-level"/>
        <input type="password" name="password" placeholder="Password" class="input-block-level"/>
        <input type="submit" value="Submit" class="input-submit"/>
      </form>
    </div>
  </div>
     
</html>