include ./layout.jade
block content
	.rank-container
		ul    //-should have logic that iterates through JSON or data to create proper # of lis
			li.rank-row
				p.list-of-names
			li.rank-row
				p.list-of-names				
			li.rank-row
				p.list-of-names