include ./layout.jade
block content
	.testimony-container
		form.form-testimony(action='/send', method='POST')
		textarea.testimony(name="text", rows="10", cols="10")
		input.input-submit(type="submit", value="Submit")