
<html> 
  <head>
    <title>= 'Game of Thrones'</title>
    <script src=""></script>
    <link href="../css/layout.css" rel="stylesheet"/>
  </head>
  <body> </body>
  <div class="main-box">
    <div class="header">
      <h1>Game of Thrones </h1>
      <ul class="forms">
        <li class="signup"><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    <div class="main-container">
  <form action="/send" method="POST" class="form-testimony"></form>
  <textarea name="text" rows="10" cols="10" class="testimony"></textarea>
  <input type="submit" value="Submit" class="input-submit"/>
</div>
  </div>
</html>


